cpp/**/cmake_install.cmake
cpp/**/CTestTestfile.cmake
cpp/**/CMakeFiles/
cpp/bin
cpp/**/Makefile
cpp/**/CMakeCache.txt
cpp/*.sln
cpp/P5.cbp
cpp/.idea
cpp/datasets
cpp/documentation
cpp/compile_commands.json
cpp/.clangd
cpp/**/DartConfiguration.tcl
cpp/tests*.cmake
build/
cpp/smac/smac3*

.vscode

.vs/P5-Kode/v16/.suo
.vs/P5-Kode/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json

__pycache__
.ipynb_checkpoints/
poetry.lock

*.json
*.jsonl
*.csv
